<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net472" />
  <package id="AutoFixture" version="4.5.0" targetFramework="net471" />
  <package id="AutoFixture.AutoNSubstitute" version="4.5.0" targetFramework="net471" />
  <package id="AutoFixture.Xunit2" version="4.5.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net471" />
  <package id="Fare" version="2.1.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net471" />
  <package id="xunit.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net471" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net471" developmentDependency="true" />
</packages>